@model IEnumerable<TicketListingServiceModel>

@if (Model.Count() == 0)
{
    <h3 style="text-align: center">No tickets to display.</h3>
}
else
{

    @if (User.IsInRole("Administrator") || User.IsInRole("Support"))
    {
        @foreach (var ticket in Model)
        {
            <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Confirm</h4>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to remove @ticket.Title?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                            <a asp-controller="Tickets" asp-action="Delete" asp-route-id="@ticket.Id" class="btn btn-danger">Yes</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="panel panel-success">
                    <div class="panel-heading" style="text-align: center">
                        <a asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.Id"><h3>@ticket.Title</h3></a>

                        <p>Published on @ticket.PostTime.ToShortDateString() by @ticket.Sender</p>
                        <p>Project: <p><a asp-area="Projects" asp-controller="Projects" asp-action="Details" asp-route-id="@ticket.Project.Id">@ticket.Project.Name</a></p></p>
                        <p>State: @ticket.TicketState</p>
                        <p>Type: @ticket.TicketType</p>
                        <hr />
                        <p>
                            @if (ticket.AttachedFiles != null)
                            {
                                <a asp-action="DownloadAttached" asp-route-id="@ticket.Id" class="btn btn-primary">Download Files</a>
                            }

                            @if (ticket.Sender == User.Identity.Name)
                            {
                                <a asp-controller="Tickets" asp-action="AttachFiles" asp-route-id="@ticket.Id" class="btn" style="background-color:coral">Attach Files</a>
                            }
                        </p>

                        <p>
                            @if (User.IsInRole("Administrator") || User.IsInRole("Support"))
                            {
                                <a asp-controller="Tickets" asp-action="Edit" asp-route-id="@ticket.Id" class="btn btn-warning">Edit</a>
                                <button id="btnSave" class="btn btn-danger" type="button" data-toggle="modal" data-target="#confirm-delete">Delete</button>
                            }
                        </p>

                    </div>
                </div>
            </div>
        }
    }
    else
    {
        var myTickets = Model.Where(t => t.Sender == User.Identity.Name);

        @if (myTickets.Count() == 0)
        {
            <h3 style="text-align: center">No tickets to display.</h3>
        }
        else
        {
            @foreach (var ticket in myTickets)
            {
                <div class="col-md-5">
                    <div class="panel panel-success">
                        <div class="panel-heading" style="text-align: center">
                            <a asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.Id"><h3>@ticket.Title</h3></a>
                            <p>Published on @ticket.PostTime.ToShortDateString() by @ticket.Sender</p>
                            <p>State: @ticket.TicketState</p>
                            <p>Type: @ticket.TicketType</p>
                            <hr />
                            <p>
                                @if (ticket.AttachedFiles != null)
                                {
                                    <a asp-action="DownloadAttached" asp-route-id="@ticket.Id" class="btn btn-primary">Download Files</a>
                                }

                                @if (ticket.Sender == User.Identity.Name)
                                {
                                    <a asp-controller="Tickets" asp-action="AttachFiles" asp-route-id="@ticket.Id" class="btn" style="background-color:coral">Attach Files</a>
                                }


                            </p>

                            <p>
                                @if (User.IsInRole("Administrator") || User.IsInRole("Support"))
                                {
                                    <a asp-controller="Tickets" asp-action="Edit" asp-route-id="@ticket.Id" class="btn btn-warning">Edit</a>
                                }
                            </p>
                        </div>
                    </div>
                </div>
            }
        }
    }
}



