@model ProjectListingViewModel

@{
    ViewData["Title"] = "Projects";
}

<h2 style="text-align: center">@ViewData["Title"]</h2>

<div class="row project-listings">
    @await Html.PartialAsync("_ProjectsListingPartial", Model.Projects)
</div>

@if (Model.TotalProjects > Model.Projects.Count())
{
    <ul class="pagination">
        <li class="@(Model.CurrentPage == 1 ? "disabled" : string.Empty)">
            <a asp-route-page="@Model.PreviousPage"
               aria-label="Previous">
                <span id="previous-page" aria-hidden="true">Previous</span>
            </a>
        </li>
        <li class="@(Model.CurrentPage == Model.TotalPages ? "disabled" : string.Empty)">
            <a asp-route-page="@Model.NextPage"
               aria-label="Next">
                <span id="next-page" aria-hidden="true">Next</span>
            </a>
        </li>
    </ul>
}