@model UserListingViewModel

@{
    ViewData["Title"] = "User Administration";
}

<h1 style="text-align: center">@ViewData["Title"]</h1>

@if (Model.Users.Count() > 0)
{
    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var user in Model.Users)
                {
                    <tr>
                        <th>@user.Username</th>
                        <th>@user.Email</th>
                        <th>
                            <form asp-controller="Users" asp-action="AddToRole" method="post">
                                <div class="row">
                                    <div class="col-md-4">
                                        <input type="hidden" name="UserId" value="@user.Id" />
                                        <select name="Role" asp-items="Model.Roles" class="form-control"></select>
                                    </div>
                                    <div class="col-md-8">
                                        <button class="btn btn-success" type="submit">Add To Role</button>
                                        <a asp-controller="Users" asp-action="Remove" asp-route-id="@user.Id" class="btn btn-danger">Remove</a>
                                        <a asp-controller="Users" asp-action="ChangeUserPassword" asp-route-id="@user.Id" class="btn btn-primary">Change Password</a>
                                        <a asp-controller="Users" asp-action="ChangeUserData" asp-route-id="@user.Id" class="btn btn-warning">Change Data</a>
                                    </div>
                                </div>
                            </form>
                            
                        </th>
                    </tr>
                }

            </tbody>
        </table>
    </div>
}
else
{
    <p id="no-users" style="text-align:center">No active users</p>
}
